In [1]:
import src.data.data_loader as dl
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
exchange_a = dl.load_exchange_a('../data/processed/exchange-a_BTC-EUR_2021-2023.csv')
exchange_b = dl.load_exchange_b('../data/processed/exchange-b_BTC-EUR_2021-2023.csv')

In [3]:
exchange_a.head()# plot a graph of both price over time

,timestamp,date,symbol,open,high,low,close,Volume BTC,Volume EUR
640063,2021-01-01 00:01:00,2021-01-01 00:01:00,BTC/EUR,23727.23,23768.72,23727.23,23768.72,4.072530,96798.833818
640062,2021-01-01 00:02:00,2021-01-01 00:02:00,BTC/EUR,23747.06,23749.08,23734.55,23748.91,0.093636,2223.755312
640061,2021-01-01 00:03:00,2021-01-01 00:03:00,BTC/EUR,23742.72,23760.58,23730.30,23730.30,0.174003,4129.146239
640060,2021-01-01 00:04:00,2021-01-01 00:04:00,BTC/EUR,23724.80,23751.45,23724.75,23751.45,0.013498,320.606573
640059,2021-01-01 00:05:00,2021-01-01 00:05:00,BTC/EUR,23742.96,23742.96,23691.84,23713.93,0.047280,1121.185599

In [ ]:
import src.algorithms.spatial.spatial as spatial
opportunities = spatial.find_opportunities(exchange_a, exchange_b, threshold=0.01)

Processed 1000 rows
Processed 2000 rows
Processed 3000 rows
Processed 4000 rows
Processed 5000 rows
Processed 6000 rows
Processed 7000 rows
Processed 8000 rows
Processed 9000 rows
Processed 10000 rows
Processed 11000 rows